<!DOCTYPE html>
<html>
<head>
	<title>256Сommunity.OS</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
	<script type='text/javascript' src="/javascripts/jquery-3.2.1.min.js"></script>
	<script type='text/javascript' src="/javascripts/jquery-ui.min.js"></script>
	<script type='text/javascript' src='/javascripts/code/midi.js'></script>
</head>


	
  <body class="noselect cursor">
 
    {{{body}}}
  </body>
</html>
